#Docs Engineering start
/*.* @timngyn
/src/components @timngyn 
/src/constants @timngyn 
/src/directory @timngyn 
/src/pages/_app.tsx @timngyn 
/src/pages/_document.tsx @timngyn 
/src/pages/404.tsx @timngyn 
/src/pages/ChooseFilterPage.tsx @timngyn 
/src/pages/guides/q/platform @timngyn 
/src/pages/index.tsx @timngyn
/src/pages/start/q/integration @timngyn
/src/plugins @timngyn 
/src/public @timngyn 
/src/styles @timngyn 
/src/utils @timngyn
#Docs Engineering end
 
#JS
/src/**/**/analytics @timngyn-acc1
/src/**/**/api-graphql @timngyn-acc1
/src/**/**/api-rest @timngyn-acc1
/src/**/**/auth @timngyn-acc1
/src/**/**/authentication @timngyn-acc1
/src/**/**/graphqlapi @timngyn-acc1
/src/**/**/in-app-messaging @timngyn-acc1
/src/**/**/interactions @timngyn-acc1
/src/**/**/predictions @timngyn-acc1
/src/**/**/project-setup @timngyn-acc1
/src/**/**/pubsub @timngyn-acc1
/src/**/**/push-notifications @timngyn-acc1
/src/**/**/restapi @timngyn-acc1
/src/**/**/storage @timngyn-acc1
/src/**/**/utilities @timngyn-acc1
/src/**/lib @timngyn-acc1
/src/**/lib-v1 @timngyn-acc1
/src/**/sdk @timngyn-acc1
/src/fragments/**/**/**/js @timngyn-acc1
/src/fragments/**/**/common @timngyn-acc1
/src/fragments/**/**/js @timngyn-acc1
/src/fragments/**/**/native_common @timngyn-acc1
/src/fragments/lib/js.mdx @timngyn-acc1
/src/fragments/lib/reactnative.mdx @timngyn-acc1
/src/fragments/react.mdx @timngyn-acc1
/src/fragments/reactnative.mdx @timngyn-acc1
/src/fragments/start/getting-started/angular @timngyn-acc1
/src/fragments/start/getting-started/next @timngyn-acc1
/src/fragments/start/getting-started/react @timngyn-acc1
/src/fragments/start/getting-started/reactnative @timngyn-acc1
/src/fragments/start/getting-started/vanillajs @timngyn-acc1
/src/fragments/start/getting-started/vue @timngyn-acc1
/src/fragments/web.mdx @timngyn-acc1
/src/pages/guides/functions @timngyn-acc1
/src/pages/start/getting-started @timngyn-acc1

#DataStore
/src/fragments/**/datastore @timngyn-acc1
/src/pages/**/datastore @timngyn-acc1

#Geo
/src/fragments/**/geo @timngyn-acc1
/src/pages/**/geo @timngyn-acc1

#CLI
/src/**/cli @timngyn-acc2
/src/**/cli-legacy @timngyn-acc2
/src/fragments/cli-install-block.mdx @timngyn-acc2
/src/fragments/lib-v1/project-setup/native_common/prereq/cliInstall.mdx @timngyn-acc2
/src/fragments/pull-cli-studio.mdx @timngyn-acc2
/src/pages/console/adminui/extend-cli.mdx @timngyn-acc2

#Android
/src/fragments/**/**/android @timngyn-acc2
/src/fragments/android.mdx @timngyn-acc2
/src/fragments/guides/location-service/setting-up-your-app-android.mdx @timngyn-acc2
/src/fragments/guides/location-service/tracking-device-location-android.mdx @timngyn-acc2
/src/fragments/lib-v1/android-sdk.mdx @timngyn-acc2
/src/fragments/lib-v1/android.mdx @timngyn-acc2
/src/fragments/lib/android-escape-hatch-warning.mdx @timngyn-acc2
/src/fragments/lib/android-kotlin-java-interop.mdx @timngyn-acc2
/src/fragments/lib/android-sdk.mdx @timngyn-acc2
/src/fragments/lib/android.mdx @timngyn-acc2
/src/pages/start/sample-apps/todo-app/q/integration @timngyn-acc2

#Flutter
/src/fragments/**/**/flutter @timngyn-acc2
/src/fragments/lib-v1/project-setup/native_common/prereq/flutter_null_safety.mdx @timngyn-acc2
/src/fragments/lib/flutter.mdx @timngyn-acc2
/src/fragments/lib/project-setup/native_common/prereq/flutter_null_safety.mdx @timngyn-acc2
/src/fragments/ui/auth/developer-preview-callout-flutter.mdx @timngyn-acc2
/src/fragments/ui/flutter/installation.mdx @timngyn-acc2

#iOS
/src/fragments/**/**/ios @timngyn-acc1
/src/fragments/guides/datastore/parallel-processing-ios.mdx @timngyn-acc1
/src/fragments/guides/location-service/setting-up-your-app-ios.mdx @timngyn-acc1
/src/fragments/guides/location-service/tracking-device-location-ios.mdx @timngyn-acc1
/src/fragments/lib-v1/ios-sdk.mdx @timngyn-acc1
/src/fragments/lib-v1/ios-spm.mdx @timngyn-acc1
/src/fragments/lib-v1/ios.mdx @timngyn-acc1
/src/fragments/lib/ios-escape-hatch-warning.mdx @timngyn-acc1
/src/fragments/lib/ios-prereq-category.mdx @timngyn-acc1
/src/fragments/lib/ios-prereq-xcode.mdx @timngyn-acc1
/src/fragments/lib/ios-sdk.mdx @timngyn-acc1
/src/fragments/lib/ios-spm.mdx @timngyn-acc1
/src/fragments/lib/ios.mdx @timngyn-acc1
/src/fragments/sdk/sdk-api-ref/ios.mdx @timngyn-acc1

#Studio
/src/pages/console @timngyn-acc1

#Hosting
/src/fragments/**/hosting @timngyn-acc1
/src/pages/**/hosting @timngyn-acc1

#UI
/src/**/ui @timngyn-acc2